/bitrix
/logs
/upload
/upload_
/vendor
node_modules/
*.log
*.sql
*.txt
*.xml
*.dt
*.tar
*.gz
/web.config
*.tmp
.idea
.sass-cache
*.DS_Store
composer.lock
/test
/nbproject/private/
desktop_app/
pub/
.htaccess
nbproject/
build/