/* Широкоформатный дизайн */
/*@media screen and (min-width: 1280px) {
	body {
		background-size: 100% 950px;
	}
	.container {
		width: 100% !important;
		padding: 0 20px;
	}
	.header-panel {
		left: -110px !important;
	}
	.participant-container::before {
		background-size: cover;
	}
	.stages-container {
		margin-top: 110px;
	}
	.main-labels__content .slick-list {
		margin: 0 auto;
	}
	.stage-block {
		justify-content: center;
	}
	.stages-content__title,
	.participant-content__title,
	.participant-action,
	.advice-content__title,
	.organizers-block__title,
	.speakers-content__title,
	.intensive-programm h2,
	.intensive-goals h2,
	.finalists-competition h2 {
		text-align: center;
	}
	.participant-content {
		justify-content: center;
	}
	.final-competition__internship-right {
		margin-right: 0;
	}
	.intensive-programm__action {
		text-align: center;
		padding-left: 0;
	}
}*/

.calendar_events_block {
	margin-top: 40px;
}
.calendar_events_block h2 {
	text-align: center;
}
.form-radio__label::before {
	border-width: 2px;
}
.select2-results__option:hover {
	color: #fff;
	background: #6F35FF;
	border-bottom: 1px solid #fff;
}
.select2-container--open .select2-dropdown--below {
	max-height: 500px;
	overflow-y: scroll;
}
/*------------------------------------------------------------------------------------------------- SCROLL */
/* полоса прокрутки (скроллбар) */
.select2-container::-webkit-scrollbar {
	background-color: transparent;
}
.select2-container::-webkit-scrollbar-thumb {
	background-color: #6F35FF;
	border-radius: 10px;
	height: 30px;
	width: 10px;
}
/*------------------------------------------------------------------------------------------------- LOADER */
.custom_loader:after {
	position: absolute;
	z-index: 999;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	content: '';
	background: rgba(255,255,255,0.6) url("/local/templates/ustaz/img/loader.svg") no-repeat center/100px;
}
/*------------------------------------------------------------------------------------------------- Образовательные интенсивы */
.profile-intensive__block {
	flex-wrap: wrap;
	justify-content: space-between;
}
.profile-intensive-video {
	display: none;
	flex: 1 1 100%;
	margin-top: 40px;
	order: 3;
}
.profile-intensive-video iframe {
	width: 100%;
	height: 500px;
}
.presentation_block {
	margin-top: 20px;
}

@media screen and (min-width: 768px) {
	.profile-intensive__left {
		width: min-content;
		min-width: 530px;
	}
}

.speakers-link,
.speakers-card__img--block {
	background-size: cover !important;
}

/*------------------------------------------------------------------------------------------------- ion.rangeSlider.css */
.quest-card__tooltip-1 {
	left: 18.5%;
}
.quest-card__tooltip-2 {
	left: 37.5%;
}
.quest-card__tooltip-3 {
	left: 57%;
}
.quest-card__tooltip-4 {
	left: 76%;
}
.quest-card__tooltip-5 {
	left: 95%;
}
.irs--round .irs-grid {
	height: 35px;
}
.irs-grid {
	bottom: -10px;
}