@media (min-width: 1024px) {
  body {
    background: url("../images/gradient/gradient-home.png") no-repeat center top;
    -moz-background-size: 100% 1346px !important;
         background-size: 100% 1346px !important; } }

@media (max-width: 1023px) {
  .page-content {
    overflow: hidden; }
    .page-content::before {
      content: "";
      position: absolute;
      width: 1625.51px;
      height: 888.38px;
      left: 32px;
      top: 0;
      background: rgba(255, 222, 209, 0.37);
      -webkit-filter: blur(196px);
              filter: blur(196px);
      -webkit-transform: rotate(-31.59deg);
         -moz-transform: rotate(-31.59deg);
          -ms-transform: rotate(-31.59deg);
           -o-transform: rotate(-31.59deg);
              transform: rotate(-31.59deg); } }

@media (max-width: 767px) {
  .page-content::before {
    width: 1125.51px;
    height: 388.38px;
    top: 0;
    left: 0; } }
